<section class="index-page">
  <div>
    <img src='{{image}}'/>
    <p class="user">Hello {{user}}!</p>
    <a class="success" href="/user/profile/">Go to Your profile</a>
    <a href="/auth/logout">Logout</a>
  </div>
</section>